<table border="0" cellspacing="0" cellpadding="0" width="100%">
  <tr>
    <td width="23"><img border="0" src="{containerPath}top-left.gif" WIDTH="23" HEIGHT="31"></td>
    <td background="{containerPath}top-tile.gif"></td>
    <td width="23"><img border="0" src="{containerPath}top-right.gif" WIDTH="23" HEIGHT="31"></td>
  </tr>
  <tr>
    <td background="{containerPath}left-tile.gif" width="23"></td>
    <td {contentAlign}>
      <table border="0"  cellspacing="0" cellpadding="4"  width="98%">
		<tr>
          <td width="1%" noWrap>{moduleEditMenu}</td>
          <td width="1%" noWrap>{moduleIcon}</td>
          <td width="100%" noWrap class="ModuleTitle">{moduleTitle}</td>
		</tr>
        <tr>
          <td colspan="2" width="100%"></td>
        </tr>
      </table>
      <hr noshade size="1">
	  {content}
    </td>
    <td background="{containerPath}right-tile.gif" width="23"></td>
  </tr>
  <tr>
    <td width="23"><img border="0" src="{containerPath}bottom-left.gif" WIDTH="23" HEIGHT="31"></td>
    <td background="{containerPath}bottom-tile.gif"></td>
    <td width="23"><img border="0" src="{containerPath}bottom-right.gif" WIDTH="23" HEIGHT="31"></td>
  </tr>
</table>
