<table cellSpacing="0" cellPadding="0" width="100%" border="0"> 
  <tr> 
    <td width="13"><IMG height="27" src="{containerPath}images/top-left.gif" width="13" border="0"></td> 
    <td background="{containerPath}images/top-tile.gif">
      <table width="100%"  border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td noWrap>{moduleEditMenu}</td>
          <td noWrap>{moduleIcon}</td>
          <td noWrap width="100%" class="ModuleTitle">{moduleTitle}</td>
        </tr>
      </table></td> 
    <td width="15"><IMG height="27" src="{containerPath}images/top-right.gif" width="15" border="0"></td> 
  </tr> 
  <tr> 
    <td width="13" background="{containerPath}images/left-tile.gif"></td> 
    <td bgColor="white" {contentAlign}>{content}</td> 
    <td width="15" background="{containerPath}images/right-tile.gif"></td> 
  </tr> 
  <tr> 
    <td width="13"><IMG height="5" src="{containerPath}images/bottom-left.gif" width="13" border="0"></td> 
    <td background="{containerPath}images/bottom-tile.gif"></td> 
    <td width="15"><IMG height="5" src="{containerPath}images/bottom-right.gif" width="15" border="0"></td> 
  </tr> 
</table>
