<table id="Table_01" width="100%" height="100%" border="0" cellpadding="0" cellspacing="0"> 
  <tr> 
    <td height="69" background="{skinPath}/images/index_01.gif" bgcolor="#CF593F" style="background-repeat:no-repeat"></td> 
  </tr> 
  <tr> 
    <td height="1" background="{skinPath}/images/index_02.gif" bgcolor="#000000" style="background-repeat:no-repeat"></td> 
  </tr> 
  <tr> 
    <td height="20" background="{skinPath}/images/index_03.gif" bgcolor="#DB836F" style="background-repeat:no-repeat"><table width="100%" height="20"  border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="80%">{links}</td>
        <td width="20%" align="right">{user cssClass='MainLinks'}&nbsp;|&nbsp;{login cssClass='MainLinks'}&nbsp;</td>
      </tr>
    </table></td> 
  </tr> 
  <tr> 
    <td height="1" background="{skinPath}/images/index_04.gif" bgcolor="#000000" style="background-repeat:no-repeat"></td> 
  </tr> 
  <tr> 
    <td height="100%" valign="top" background="{skinPath}/images/index_05.gif" bgcolor="#FFFFFF" style="background-repeat:no-repeat"><table width="100%"  border="0" cellspacing="3" cellpadding="0"> 
        <tr> 
          <td valign="top">{leftPane}</td> 
          <td valign="top">{contentPane}</td> 
          <td valign="top">{rightPane}</td> 
        </tr> 
      </table></td> 
  </tr> 
</table>